body {
	width: 560px;
	height: 99vh;
	margin: 0 auto;
	font-family: Tahoma, Verdana, Arial, sans-serif;
	background-color: #08AEEA;
	background-image: linear-gradient(45deg, #08AEEA, #2AF598);
}

form {
	width: 280px;
	margin: 100px auto;
	padding: 10px;
	border: 2px solid rgba(185, 33, 255, .5);
	border-radius: 5px;
	display: flex;
	flex-direction: column;
}

form > * {
	margin: 5px 0;
}

h2 {
	margin-bottom: 20px;
}

.submit {
	margin: 15px 0 5px 0;
}